{% extends 'Inv/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete???{{order}}</p>

            <form action="" method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'Home' %}">Cancel></a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
        <!-- here I want to use the username which I want receive from django  function-->
         <div>
            {
                cust.name
            }
         </div>

    </div>
</div>

{% endblock %}